<div class="container">
  <h4>Simple Workflow Import</h4>
  <div id="visSimpleImport" style="height: 200px;"></div>
  <div>
    <p>Current State: {{toString(workflowObject['SimpleImport'] != null ? workflowObject['SimpleImport'].currentStates : null)}}</p>
    <p>Finished State: {{toString(workflowObject['SimpleImport'] != null ? workflowObject['SimpleImport'].handledStates : null)}}</p>
  </div>
  <div class="center-align">
    <div class="btn-large" (click)="next()">Next</div>
  </div>
</div>
